#include "../../Configurations/debug.xcconfig"

SUPPORTED_PLATFORMS = iphoneos iphonesimulator
SDKROOT = iphoneos
PRODUCT_BUNDLE_IDENTIFIER = app.shareup.wordle-scores.ios
GENERATE_INFOPLIST_FILE = YES
INFOPLIST_KEY_CFBundleVersion = 1
CURRENT_PROJECT_VERSION = $(INFOPLIST_KEY_CFBundleVersion)
INFOPLIST_KEY_CFBundleShortVersionString = 1.0.0
MARKETING_VERSION = $(INFOPLIST_KEY_CFBundleShortVersionString)
INFOPLIST_KEY_UILaunchStoryboardName = LaunchScreen
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad = UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPhone = UIInterfaceOrientationPortrait UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents = YES
INFOPLIST_KEY_NSHumanReadableCopyright = $(COPYRIGHT_STATEMENT)
